<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>TrustedHostAttached</key>
	<true />
	<key>CPUArchitecture</key>
	<string>armv7</string>
	<key>SDIOProductInfo</key>
	<string>P=K48 m=u80</string>
	<key>ProductionSOC</key>
	<false />
	<key>ProductVersion</key>
	<string>4.3.5</string>
	<key>ProtocolVersion</key>
	<string>2</string>
	<key>SDIOManufacturerTuple</key>
	<dict>
		<key>IOSDIOProductID</key>
		<integer>17193</integer>
		<key>IOSDIOManufacturerID</key>
		<integer>720</integer>
	</dict>
	<key>CallsInProgress</key>
	<false />
	<key>SoftwareBehavior</key>
	<data>EQAAAAAAAAAAAAAAAAAAAA==</data>
	<key>UniqueChipID</key>
	<integer>2521784984396</integer>
	<key>FirmwareVersion</key>
	<string>iBoot-1072.61</string>
	<key>DeviceClass</key>
	<string>iPad</string>
	<key>SerialNumber</key>
	<string>GB018R2HZ3A</string>
	<key>MobileSubscriberNetworkCode</key>
	<string></string>
	<key>TimeZoneOffsetFromUTC</key>
	<integer>-25200</integer>
	<key>ActivationStateAcknowledged</key>
	<true />
	<key>TimeIntervalSince1970</key>
	<integer>1312952662</integer>
	<key>iTunesHasConnected</key>
	<true />
	<key>DieID</key>
	<integer>4107323045204613424</integer>
	<key>HostAttached</key>
	<true />
	<key>DevicePublicKey</key>
	<data>
		LS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tCk1JR0pBb0dCQUtJK3pJ
		ejd2eEN0aTlxV29sdHd1MHN0R1p5OGI0QTNzL3QzNjduMk1yTTlHVTlFTytH
		T2tQUWcKKy9ackdidWlaZnROOGxnMHZLT3FRQm5wZE5JSUswVmZBRTNoalk0
		bFRKcXdNUDNVM05GR3hqYWxlTmFCdm91NQpWY1VVZGp5WG1aMlBDcFBaSFNK
		aFFwUkNDUzZsVE5zcFRzZ0hLSlM1eHpLWnVsTXRiOVRuQWdNQkFBRT0KLS0t
		LS1FTkQgUlNBIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>ActivationPublicKey</key>
	<data>
		LS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tCk1JR0pBb0dCQU1xUEUz
		M0hxNG5SS1QwaHVMWkUyeHZLZjA4WXkzS3MyNVdZMm92RDlwVURyVE9BalNL
		aVEySU4KTkZQU3JoQmVFTjRwV05xUkJ5TUlqWnVkMENrYjNHL0cveEtFczAx
		RmM0NWRjT0dtZ0I1YTdNMlcycjJBQUdqTQpXVXFQN2lHTHBZZTRmUmZtWTFa
		Rnk3aHNsSk5PQ3ludWt5NTR0bmpML1BXWTlwdXBlQ2ZuQWdNQkFBRT0KLS0t
		LS1FTkQgUlNBIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>DeviceColor</key>
	<string>unknown</string>
	<key>HardwarePlatform</key>
	<string>s5l8930x</string>
	<key>SoftwareBundleVersion</key>
	<string></string>
	<key>SIMStatus</key>
	<string>kCTSIMSupportSIMStatusReady</string>
	<key>TimeZone</key>
	<string>US/Pacific</string>
	<key>DeviceCertificate</key>
	<data>
		LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4ekNDQWx5Z0F3SUJB
		Z0lLQkRVYUxOS2Z6ZDY0b3pBTkJna3Foa2lHOXcwQkFRVUZBREJhTVFzd0NR
		WUQKVlFRR0V3SlZVekVUTUJFR0ExVUVDaE1LUVhCd2JHVWdTVzVqTGpFVk1C
		TUdBMVVFQ3hNTVFYQndiR1VnYVZCbwpiMjVsTVI4d0hRWURWUVFERXhaQmNI
		QnNaU0JwVUdodmJtVWdSR1YyYVdObElFTkJNQjRYRFRFeE1EZ3hNREF5Ck5E
		QTBORm9YRFRFME1EZ3hNREF5TkRBME5Gb3dnWU14TFRBckJnTlZCQU1USkVS
		R1FqTTVPRU13TFVVd1FUa3QKTkVGR05pMDVOemM1TFVFME1EVTRPRGczTVRr
		NE5ERUxNQWtHQTFVRUJoTUNWVk14Q3pBSkJnTlZCQWdUQWtOQgpNUkl3RUFZ
		RFZRUUhFd2xEZFhCbGNuUnBibTh4RXpBUkJnTlZCQW9UQ2tGd2NHeGxJRWx1
		WXk0eER6QU5CZ05WCkJBc1RCbWxRYUc5dVpUQ0JuekFOQmdrcWhraUc5dzBC
		QVFFRkFBT0JqUUF3Z1lrQ2dZRUF5bzhUZmNlcmlkRXAKUFNHNHRrVGJHOHAv
		VHhqTGNxemJsWmphaThQMmxRT3RNNENOSXFKRFlnMDBVOUt1RUY0UTNpbFky
		cEVISXdpTgptNTNRS1J2Y2I4Yi9Fb1N6VFVWempsMXc0YWFBSGxyc3paYmF2
		WUFBYU14WlNvL3VJWXVsaDdoOUYrWmpWa1hMCnVHeVVrMDRMS2U2VExuaTJl
		TXY4OVpqMm02bDRKK2NDQXdFQUFhT0JsVENCa2pBZkJnTlZIU01FR0RBV2dC
		U3kKL2lFalJJYVZhbm5WZ1NhT2N4RFlwMHlPZERBZEJnTlZIUTRFRmdRVTRa
		UUdyQThWQWtSbHhKKzdrc2lnNVNZWAppZlV3REFZRFZSMFRBUUgvQkFJd0FE
		QU9CZ05WSFE4QkFmOEVCQU1DQmFBd0lBWURWUjBsQVFIL0JCWXdGQVlJCkt3
		WUJCUVVIQXdFR0NDc0dBUVVGQndNQ01CQUdDaXFHU0liM1kyUUdDZ0lFQWdV
		QU1BMEdDU3FHU0liM0RRRUIKQlFVQUE0R0JBTU1NWGM0eGM1WndsR2FqNGxF
		R3RQRlc0RlMzaUdnL0RiTXlnenFFTnBzc3gvekNSNkVIbHg5dgo3V0hUMW9V
		ck9RdndpYlJvRVh1TUhIRURKaHRwMDBvbkozS0UzazRzNG80c2Z2RHVmalNx
		NjR0MVFRUFJWY2h2CnY3QXF1b29KZUxjZm1mSmdGT0tadnNJd1FpTUZtK3Yr
		SXI0dmRpVTVSYU84WXVLak90bWkKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0t
		LQo=
	</data>
	<key>PasswordProtected</key>
	<false />
	<key>UniqueDeviceID</key>
	<string>bcdcc8b7c518215523ccdfa315c7a9e63be17404</string>
	<key>Uses24HourClock</key>
	<false />
	<key>MLBSerialNumber</key>
	<string>J50152EG4G9ZA</string>
	<key>WiFiAddress</key>
	<string>d8:30:62:93:59:8a</string>
	<key>RegionInfo</key>
	<string>LL/A</string>
	<key>BluetoothAddress</key>
	<string>d8:30:62:93:59:8b</string>
	<key>ModelNumber</key>
	<string>MB294</string>
	<key>MobileSubscriberCountryCode</key>
	<string></string>
	<key>ActivationState</key>
	<string>Activated</string>
	<key>PartitionType</key>
	<string>GUID_partition_scheme</string>
	<key>SBLockdownEverRegisteredKey</key>
	<false />
	<key>SIMGID2</key>
	<data></data>
	<key>SupportedDeviceFamilies</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>DeviceName</key>
	<string>Wei Zhang’s iPad</string>
	<key>BuildVersion</key>
	<string>8L1</string>
	<key>HardwareModel</key>
	<string>K48AP</string>
	<key>ProductType</key>
	<string>iPad1,1</string>
	<key>SIMGID1</key>
	<data></data>
</dict>
</plist>