"*":
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 15
    preferredLineLength: 160
    confirmCheckoutHeadRevision: false
    invisibles:
      {}
    softWrap: true
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".hg"
      ".hgcheck"
      ".idea"
      ".metadata"
      "*.pyc"
    ]
    disabledPackages: [
      "wrap-guide"
      "language-perl"
      "language-objective-c"
      "language-php"
      "language-property-list"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "language-toml"
      "language-xml"
      "language-yaml"
      "open-on-github"
      "feedback"
      "git-diff"
      "language-coffee-script"
      "language-gfm"
      "language-go"
      "language-less"
      "language-mustache"
    ]
    themes: [
      "atom-light-ui"
      "solarized-light-syntax"
    ]
  "exception-reporting":
    userId: "1837a652-0271-2ad0-c5ce-3d4fa8a6bdb4"
  "release-notes":
    viewedVersion: "0.81.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "fd4755fdc9c74cf4e3cf5efacdc9208cb21818a6"
  autosave:
    enabled: true
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  "remember-session":
    path: ""
    x: 0
    y: 23
    tabs: ""
    selectedTab: ""
    width: 1920
    height: 1173
    treeWidth: 200
  "autocomplete-plus":
    enableAutoActivation: false
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.tex.latex"
      "meta.group.braces.tex"
    ]
  latex:
    {}
  "tool-bar":
    position: "Left"
    iconSize: "16px"
".python.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    autoIndentOnPaste: false
